.footer {
    &__about {
        color: white;
        padding: 0;
        margin: 0;
    }
    &__info {
        color: white;
        padding: 0;
        margin: 0;
    }
    &__wrap {
        background-color: rgba(22, 22, 22, 0.993);
        height: auto;
        width: 100%;
        border-top: solid .5rem rgb(100, 100, 100);
        padding-bottom: 1rem;
        &-left {
            padding-top: 2rem;
        }
    }
}

@media (max-width: 550px) {
    .footer {
        &__about {
            color: white;
            
            margin: 0;
            
            &-mob {
                text-align: left;
                padding: 3rem 0 2rem 0;
            }
        }
        &__info {
            color: white;
            padding: 0;
            margin: 0;
        }
        &__wrap {
            background-color: rgba(22, 22, 22, 0.993);
            height: auto;
            width: 100%;
            border-top: solid .5rem rgb(100, 100, 100);
            &-left {
                padding-top: 0rem;
            }
        }
    }
}